<%- include("templates/encabezado") %>
<div class="img">
    <img src="/web/img/banner_alumnos.jpg" alt="banner" class="img3">
</div>

<div class="botones">
    <div class="btn2">Inicio</div>
    <div class="btn2">Pagos en linea</div>
    <div class="btn2">Calificaciones</div>
    <div class="btn2">Academicos</div>
    <div class="btn2">Documentos Generales</div>
    <div class="btn2">Cambio Password</div>
    <div class="btn2">Salir</div>
</div>

<div class="nombreU">
        ALMACEN
</div>


<div class="tabla1">
    <table class="lab">
        <tr>
            <th>
                Nombre del Bien
            </th>
            <th>
                Cantidad
            </th>
            <th>Clasificacion</th>
        </tr>
        <tr>
            <td>
                Pistola de silicon
            </td>
            <td>2</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Cepillo de alambre</td>
            <td>1</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Pack de llaves allen</td>
            <td>4</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Pinzas ponchadoras</td>
            <td>2</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Pinzas de precion</td>
            <td>4</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Desarmador plano 3/16</td>
            <td>6</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Desarmador plano 1/8</td>
            <td>7</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Desarmador cruz (PRETUL)</td>
            <td>5</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Pinzas de corte</td>
            <td>8</td>
            <td>Herramientas</td>
        </tr>
        <tr>
            <td>Caimanes</td>
            <td>89</td>
            <td>Cables</td>
        </tr>
        <tr>
            <td>Banana-banana</td>
            <td>94</td>
            <td>Cables</td>
        </tr>
        <tr>
            <td>Puntas de multimetro</td>
            <td>49</td>
            <td>Cables</td>
        </tr>
    </table>
</div>

<div class="botones2">
    <div class="btn">
        <button type="button" class="btn4">Agregar</button>
    </div>
    <div class="btn">
        <button type="button" class="btn4">Editar</button>
    </div>
    <div class="btn">
        <button type="button" class="btn4"> Eliminar</button>
    </div>
</div>

<%- include("templates/pie") %>