<%- include("templates/encabezado") %>
<div class="img">
    <img src="/web/img/banner_alumnos.jpg" alt="banner" class="img3">
</div>

<div class="botones">
    <div class="btn2">Inicio</div>
    <div class="btn2">Pagos en linea</div>
    <div class="btn2">Calificaciones</div>
    <div class="btn2">Academicos</div>
    <div class="btn2">Documentos Generales</div>
    <div class="btn2">Cambio Password</div>
    <div class="btn2">Salir</div>
</div>
<div class="nombreU">
    MARVIN ABIGAEL PEREZ LOPEZ
</div>

<div class="infoU">
    <div class="infoU1">Nombre: <br>
        <label class="infoU2">MARVIN ABIGAEL PEREZ <br>LOPEZ</label>
    </div>
    <div class="infoU1">
        Carrera/Unidad: <br>
        <label class="infoU2">Tecnologías de la Información <br> Área Desarrollo de Software <br>Multiplataforma UTSJR</label>
    </div>
    <div class="infoU1">
        Grupo: <br>
        <label class="infoU2">TI02SM-22</label>
    </div>
    <div class="infoU1">
        Grado: <br>
        <label class="infoU2">3</label>
    </div>
    <div class="infoU1">
        Expediente: <br>
        <label class="infoU2">2022143104</label>
    </div>
    <div class="infoU1">
        Img
        <label class="infoU2"></label>
    </div>
</div>

<div class="tabla1">
    <table class="lab">
        <tr>
            <th colspan="2">RESERVA DE LABORATORIOS</th>
        </tr>
        <tr>
            <td>LABORATORIO 1</td>
            <td><a href="#">+info</a></td>
        </tr>
        <tr>
            <td>LABORATORIO 2</td>
            <td><a href="#">+info</a></td>
        </tr>
        <tr>
            <td>LABORATORIO 3</td>
            <td><a href="#">+info</a></td>
        </tr>
        <tr>
            <td>LABORATORIO 4</td>
            <td><a href="#">+info</a></td>
        </tr>
    </table>
</div>

<div class="separador">RESERVA DE MATERIAL</div>

<div class="contenedor">
    <div class="uno">
        <div>
            <button type="button"><img src="/web/img/image.png" alt="interrogacion" class="img1"></button>
        </div>
        MATERIAL DISPONIBLE
    </div>
    <div class="dos">
        <div>
            <button type="button"><img src="/web/img/image (1).png" alt="FORMULARIO" class="img2"></button>
        </div>
        LLENAR FORMULARIO
    </div>
</div>


<%- include("templates/pie") %>