<%- include("templates/encabezado") %>
<%- include("templates/menu") %>

    <div class="carrusel">
        <!-- <div class="slide">
          <img src="img/c2.jpg" alt="Imagen 1" class="imgCarrusel">
        </div> -->
        <div class="slide">
          <img src="/web/imagenes/c3.jpg" alt="Imagen 1" class="imgCarrusel">
        </div>
        <div class="slide">
            <img src="/web/imagenes/c4.jpg" alt="Imagen 2" class="imgCarrusel">
        </div>
        <div class="slide">
            <img src="/web/imagenes/c5.jpg" alt="Imagen 3" class="imgCarrusel">
        </div>
      </div>

      <div class="fooI">
        <p class="pfoo">Universidad Tecnológica de San Juan del Río</p>
        <p class="pfoo">Departamento de Tecnologías de Información</p>
        <p class="pfoo"><a href="#">Coordinador de Desarrollo de Sistemas</a></p>
      </div>

<%- include("templates/pie") %>