<%- include("templates/encabezado2") %>
    <div id="logo" class="logo">
        <img src="/web/imagenes/Logo2.png">
    </div>
    <section class="log">
        <div id="login" class="login">
            <form action="/revisar" method="post">
                <div>
                    <img src="/web/imagenes/perfil.jpg" width="200px">
                </div>
                <div id="usu">
                    <label>Usuario</label>
                    <br>
                    <input type="text" name="usuario" id="usuario" autofocus>
                </div>
                <div id="pass">
                    <label>Password</label>
                    <br>
                    <input type="password" name="password" id="password" >
                </div>
                <div id="butt">
                    <button type="submit" id="button">Iniciar sesion</button>
                </div>
            </form>

        </div>    
    </section>
<%- include("templates/pie") %>