<%- include("templates/encabezado") %>
<main>
    <table id="lab">
        <thead>
            <tr>
                <th colspan="6">Laboratorio 1</th>
            </tr>
            <tr>
                <td>Horario</td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miercoles</td>
                <td>Jueves</td>
                <td>Viernes</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7:00 - 8:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>8:00 - 9:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>9:00 - 10:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>10:00 - 11:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>11:00 - 12:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>1:00 - 2:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
            <tr>
                <td>2:00 - 3:00</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
                <td>Disponible</td>
            </tr>
        </tbody>
    </table>
</main>

<form method="post" id="labs">
    <p>Hora</p>
    <select name="hora" id="hora">
        <option value="7:00">7:00</option>
        <option value="8:00">8:00</option>
        <option value="9:00">9:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="1:00">1:00</option>
        <option value="2:00">2:00</option>
    </select>
    <button type="submit" id="btnRes">Reservar</button>    
</form>

<%- include("templates/pie") %>