*{
    margin: 0px;
}

body{
    background-image: url(/web/imagenes/Fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 175%;
    color: #FFFFFF;
}

.logo{
    height: 100px;
    display: flex;
    justify-content: center;
}

.login{
    margin-top: 70px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    border-radius: 10px;
    display: flex;
    width: 200px;
    height: 20px; 
}

/*#usuario{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

#password{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}*/

button{
    margin-top: 15px;
    border-radius: 6px;
    width: 206px;
    height: 25px;
}

/*#button{
    margin-top: 15px;
    border-radius: 6px;
    width: 206px;
    height: 25px; 
}

#buttonReg{
    margin-top: 15px;
    border-radius: 6px;
    width: 206px;
    height: 25px;
}*/

.forma{
    margin-top: 70px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error{
    color: red;
}

.errorInput{
    border-color: red;
}