*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body{
    background-color: #fff;
    font-size: 1rem;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img3{
    height: 100px;
}

.botones{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 1px;
    margin-bottom: 2px;
}

.btn2{
    display: flex;
    margin-left: 15px;
    background-color: gray;
}

.nombreU{
    display: flex;
    background-color: darkcyan;
    color: white;
    width: 759px;
    margin-left: 285px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.infoU{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
}

.infoU1{
    display: block;
    margin-right: 40px;
    margin-top: 2px;
}

label{
    display: inline-block;
    margin-bottom: 0.5rem;
}

.infoU2{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    text-align: center;
}


.tabla1{
    /*background-color: #3c763d;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

th, td{
    border: 1px solid rgb(199, 199, 199);
    padding: 8px;
}

th{
    background-color: #CCCCCC;
}

td{
    padding: 5px;
}

.lab{
    display: table;
    font-size: medium;
    width: 90%;
    text-align: center;
    border: 1px solid #cecece;
    border-collapse: collapse;
}

.separador{
    background-color: #91a9c9;
    display: flex;
    margin-left: 65px;
    margin-top: 50px;
    margin-right: 65px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.contenedor{
    margin-top: 20px;
    margin-right: 65px;
    margin-left: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uno{
    margin-left: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 180px;
}

.dos{
    margin-right: 300px;
}

.img1{
    padding-left: 12%;
}

.img2{
    padding-left: 15%;
}

img{
    margin-bottom: 10px;
    height: 125px;
}

.botones2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn4{
    display: flex;
    background-color: #cc1616;
    border-color: white solid #fff;
    padding: 5px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
    border-style: none;
}

.header{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    background-color: #91a9c9;
}

ul, ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

.nav li a{
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin-left: 5px;
    display: block;
}

.nav li a:hover{
    background-color: #f3e45b;
}

.nav > li{
    float: left;
    background-image: linear-gradient(to top, #92b5e9, #ffffff);
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
    background-color: aqua;
}

.fondoOpaco {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.ventanaEmergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    z-index: 9999;
}

.cerrarBoton {
    position: absolute;
    cursor: pointer;
    background-color: rgb(230, 93, 93);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-size: medium;
    font-style: none;
    margin-left: 1050px;
    margin-top: 450px;
}

.DTV1{
    display: flex;
    width: 1100px;
    height: 400px;
}

.imgV1{
    display: flex;
    height: 60px;
    width: 300px;
}

.imgVentana1{
    display: flex;
}

.textoV1{
    display: block;
    height: 60px;
    margin-left: 50px;
    margin-top: 15px;
}

.textoV1 h3{
    margin-left: 70px;
}

.tablaVentana1{
    display: table;
    font-size: medium;
    width: 90%;
    text-align: center;
    border: 1px solid #cecece;
    border-collapse: collapse;
    margin-left: 50px;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.imgCarrusel{
        width: 90%;
        height: auto;
}

.fooI{
    display: block;
    color: white;
    padding: 5px;
    background-image: linear-gradient(to right, #46acaf, #06555f);
    margin-top: 10px;
    font-size: small;
    text-align: center;
}
